<header>
    <h1 class="title">Home - Products</h1>
</header>

<main>
    <section>
        <h3>Products</h3>
        <div>
            <ul id="product-list"></ul>
        </div>
        <button id="btn-refresh-product-list">Refresh</button>
    </section>
</main>

<script src="/api/public/js/products.js"></script>